<form id="loginForm" [formGroup]="loginForm">
  <div class="form-group">
    <label for="Username">Username</label>
    <input type="text" formControlName="username">
    <small  class="error"*ngIf="loginForm.controls.username.errors?.required">
        Username is required
    </small>
    <small class="error" *ngIf="loginForm.controls.username.errors?.minlength">
        Username should have minimum {{loginForm.controls.username.errors?.minlength.requiredLength}} but got
        {{loginForm.controls.username.errors?.minlength.actualLength}}.
    </small>
    <small class="error" *ngIf="loginForm.controls.username.errors?.maxlength">
        Username should be maximum {{loginForm.controls.username.errors?.maxlength.requiredLength}} but got
        {{loginForm.controls.username.errors?.maxlength.actualLength}}.
    </small>
</div>
  <div class="form-group">
    <label for="password">password</label>
    <input type="password" formControlName="password">
  </div>
  
  <small class="error" *ngIf="loginForm.touched">
    User touched the form
  </small>
  <small class="error" *ngIf="loginForm.untouched">
      User is not touched the form
  </small>
  <div class="link">
    <a href="#">Forgot Password</a>
  </div>
  <div class="loginButton">
    <button (click)="login()">Login</button>
  </div>
</form>