<div class="container">
  <h2><i class="fas fa-angle-double-left"></i> Pagination Example</h2>
  <div class="pagination">
    <button class="fas fa-angle-double-left" (click)="setPage(0)"></button>
    <button class="fas fa-angle-left" (click)="setPage(page-1)"></button>
    <button *ngFor="let data of pageButton" (click)="setPage(data-1)">{{data}}</button>
  <!--  
    <button class="" (click)="setPage(0)">1</button>
    <button class="" (click)="setPage(1)">2</button>
    <button class="" (click)="setPage(2)">3</button>
    <button class="" (click)="setPage(3)">4</button>
  -->
    <button class="fas fa-angle-right" (click)="setPage(page+1)"></button>
    <button class="	fas fa-angle-double-right" (click)="setPage(lastPage)"></button>
    
   

    <label >Search</label><input type="text"> 
    <label for="rows">No of Rows</label>
    <select id="rows" (change)="noRow()">
      <option *ngFor="let row of noOfRecord">{{row}}</option>
      <!--<option [value]="tot">10</option>
      <option [value]="tot">20</option>
      <option [value]="tot">30</option>
      <option [value]="tot">40</option>
      -->
    </select>
  </div>

  

  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>postId</th>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataSample;index as i">
       <td *ngIf="i>=initial && i<end">{{data.postId}}</td>
        <td *ngIf="i>=initial && i<end">{{data.id}}</td>
        <td *ngIf="i>=initial && i<end">{{data.name}}</td>
        <td *ngIf="i>=initial && i<end">{{data.email}}</td>
        <td *ngIf="i>=initial && i<end">{{data.body}}</td>
   
      </tr>
    </tbody>
  </table>
</div>